@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --color-primary: #40128B;
    --color-text: #DD58D6;
    --color-body: #F3F5FC;
    --color-white: #9336B4;
    --color-text-msg: #F3F5FC;
    --color-text-smaller: #9336B4;
    --color-btn-secondary: #9336B4;
    --color-textarea-tex: #f6f6f6;
}
* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    gap: 2.5rem;
    padding: 2.5rem;
    height: 100vh;
    font-family: "Arial, Helvetica, sans-serif";
    background-image: url(2099829.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;

}
.logo__alura {
    width: 3.5rem;
    opacity: 0.5;
    
}
main {
    display: flex;
    height: 100%;
    width: 90%;
    gap: 2.5rem;
}
.section__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.textarea__input {
    color: #f6f6f6;
    background-color: #40128B;
    font-size: 2rem;
    opacity: 0.8;
    border-radius: 10px;
    outline: none;
    resize: none;
    height: 10.75rem;
    width: 90%;
    box-shadow: inset 0 0 9px 9px #DD58D6;
   
}
.textarea__input::placeholder {
    color: var(--color-text);
    font-size: 2.3rem;
}
.warning__text {
    display: flex;
    align-items: center;
}
.warning__text span {
    font-size: .75rem;
    margin-left: .5rem;
}
.input__buttons {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.btn__cript {
    width: 35%;
    font-size: 1rem;
    font-family: "Arial, Helvetica, sans-serif";
    text-align: center;
    color: var(--);
    background-color: var(--color-btn-secondary);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: inset 0 0 10px 10px #DD58D6;
    
}
.btn__cript:hover {
    color: var(--color-text);
    background-color: var(--color-primary);
}
.btn__cript.blue {
    background-color: var(--color-white);
    color: var(--color-primary);
}
.btn__cript.blue:hover {
    color: var(--color-text);
    background-color: var(--color-primary);
}
.btn__cript.btn-copy {
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1.2rem;
    background-color: var(--color-white);
    transition: background-color 0.3s, color 0.3s, transform 200ms;
}
.btn__cript.btn-copy:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.btn__cript.btn-copy:active {
    transform: scale(1.1);
}
.section__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    width: 16.75rem;
    padding: 1.5rem;
    opacity: 0.8;
    border: 1px solid rgb(161, 161, 167);
    border-radius: 20px;
    box-shadow: inset 0 0 10px 10px #DD58D6;
}
.right__text-warning {
    color: var(--color-textarea-tex);
    font-size: .6rem;
    font-weight: 600;
    line-height: 100%;
}
.right__text-smaller {
    color: var(--color-textarea-tex);
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 1rem;
}
.img__people {
    width: 15.5rem;
    opacity: 0.7;
}
.icone__apenas{
    color: antiquewhite;
}


@media (max-width: 1024px) {
    body {
        flex-direction: column;
        height: auto;
    }
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
    }
    .section__input{
        margin-top: 1rem;
    }
    .section__right {
        width: 100%;
    }
    .logo__alura {
        width: 4rem;
        
    }
    .section__input {
        justify-content: center;
        margin: 0 2rem;
        padding: 0 1rem;
    }
    .textarea__input {
        height: 9.5rem;
    }
    .input__buttons {
        flex-direction: column;
        align-items: center;
    }
    .section__right {
        border-radius: 0;
    }
    .textarea__input.output {
        margin: 0;
        padding-bottom: 2rem;
    }

}